<div class="side-menu">
  <div class="side-menu-group">Basics</div>
  <div class="side-menu-item" [routerLink]="'./'">Single control</div>
  <div class="side-menu-item" [routerLink]="'./screen-disabled-controls'">Disabled controls</div>
  <div class="side-menu-group">Validators</div>
  <div class="side-menu-item" [routerLink]="'./screen-testing-validators'">Pure validators</div>
  <div class="side-menu-item" [routerLink]="'./screen-testing-validators-with-arguments'">Validators with arguments</div>
</div>
