<div class="screen-content">

  <div [formGroup]="formGroup">

<!--
    <v-forms-input [label]="'Text Input'">
      TODO: ?
      <v-forms-text>
      </v-forms-text>
    </v-forms-input>

-->
    <v-forms-input [label]="'Text Input'">
      <v-forms-text formControlName="text">
      </v-forms-text>
    </v-forms-input>

    <v-forms-input [label]="'Date picker'">
      <v-forms-date-picker formControlName="date">
      </v-forms-date-picker>
    </v-forms-input>

  </div>

  <v-form-group-debugger [formGroup]="formGroup">
  </v-form-group-debugger>

</div>
